apiVersion: apps/v1
kind: Deployment
metadata:
  name: deepfake-api
  namespace: deepfake-dev
  labels:
    app: deepfake-api
    env: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: deepfake-api
      env: dev
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: deepfake-api
        env: dev
    spec:
      containers:
        - name: deepfake-api
          # CD will swap this to a real tag via `kubectl set image`
          image: ghcr.io/sunny-debug/cs598-api:PLACEHOLDER
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: ENVIRONMENT
              value: dev
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"