---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deepfake-api
  namespace: deepfake
  labels:
    app: deepfake-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deepfake-api
  template:
    metadata:
      labels:
        app: deepfake-api
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /metrics
        prometheus.io/port: "8000"
        rollout-trigger: v2-immutable-images
    spec:
      containers:
        - name: api
          image: ghcr.io/sunny-debug/cs598-api:unet-synth-v7
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: WEB_CONCURRENCY
              value: "1"
            - name: MODEL_PATH
              value: /app/checkpoints/unet_small_traced.pt
          envFrom:
            - secretRef:
                name: deepfake-api-secrets
          volumeMounts:
            - name: model
              mountPath: /app/checkpoints
              readOnly: true
            - name: tmp
              mountPath: /tmp
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: 1Gi
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
      volumes:
        - name: model
          persistentVolumeClaim:
            claimName: deepfake-model-pvc
        - name: tmp
          emptyDir: {}
