apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: deepfake-ui-hpa
  namespace: deepfake
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: deepfake-ui-v2
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75